.socials-header {
  gap: 1.3rem;
  font-size: 1.7rem;
  top: 2rem;
  right: 7.3rem;

  @apply text-secondary flex items-center fixed;

  @screen laptop {
    font-size: calc(2.2rem * var(--scale));
    gap: calc(1.2rem * var(--scale));
    @apply text-white hidden;
  }
}

.youtube {
  margin-top: 1px;
  font-size: 2.4rem;

  @screen laptop {
    font-size: calc(3.4rem * var(--scale));
  }
}

.google-business {
  @apply hidden;
}
